*.iml
.gradle
/local.properties
.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Android App Bundles
*.aab

# Logs, Kotlin compiler daemon and errors
*.log
*.error
.kotlin/
firebase-debug.log*
firestore-debug.log*
ui-debug.log*

# CSV analysis files, temp files & scratch scripts
*.csv
*.tmp
*.bak
powershell.cmd